name: Deploy To Production
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
on:
  workflow_run:
    workflows: [Docker Image Publish]
    types:
      - completed
jobs:
  deploy:
    runs-on: arc-runner-set-hrb
    container: ghcr.io/hacking-robots-and-beer/lifeandshell:master
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - name: Log into registry ${{ env.REGISTRY }}
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Deploy settings
        run: python /code/get.py 